.topico-title{
    box-sizing: border-box;
  }
  .topico-title > a{
    float: left;
    line-height: 0;
    margin: 2px;
    display: inline-block;
    vertical-align: middle;
  }

  .topico-title .description{
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
  }

  .topico-title .topico-actions{
    float: right;
    margin-top: 5px;
}

  span.desabilitado{
    color: red;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px;
  }

  img.border-round{
    border: 1px solid white;
  }

  .topico-respostas{
      padding-bottom: 20px;
  }

  .topico-title .description > h1{
    color: black;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    display: table !important;
  }
  .topico-title .decription > p{
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
  }

  article.resposta{
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    margin-top: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: start;
  }

  article.resposta .resposta-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    width: 150px;
    min-width: 150px;
  }

 article.resposta .resposta-user .autor-marker{
    background-color: #1ABB9C;
    border-radius: 2px;
    color: white;
    height: 23px;
    line-height: 23px;
    padding: 0 10px;
    font-size: 10px;
    margin: 5px 0;
  } 

  article.resposta .resposta-user .admin-marker{
    background-color: #2C62FC;
    border-radius: 2px;
    color: white;
    height: 23px;
    line-height: 23px;
    padding: 0 5px;
    font-size: 10px;
    margin: 5px 0;
  }

  article.resposta .resposta-user h3{
      word-wrap: break-word;
      text-align: center;
      color: #111;
      font-size: 16px !important;
    }
    
  article.resposta .resposta-user h3 > .status{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
  }

  article.resposta .resposta-user h3 > .status.off{
    background-color: gray;
  }

  article.resposta .resposta-user h3 > .status.on{
    background-color: #249168;
  }


  article.resposta .resposta-user .user-endereco{
    text-align: center;
    color: #333;
  }
  article.resposta .resposta-user img{
      width: 90px;
      height: 90px;
      border-radius: 50%;
      object-fit: cover;
  }
  article.resposta .resposta-user > *{
      margin-bottom: 5px;
  }

  article.resposta .resposta-body{
    width: 100%;
    margin: 10px 20px;
  }

  article.resposta .resposta-body > .top{
    display: block;
    margin-bottom: 20px;
}

article.resposta .resposta-body .resposta-footer{
    float: right;
}

article.resposta .resposta-blockquote{
    margin: 0;
    margin-bottom: 10px;
    padding: 0px 15px;
    border-width: 1px 1px 1px 2px;
    border-color: #ededed #e8e8e8 #dbdbdb #666666;
    border-style: solid;
    border-radius: 3px;
    position: relative;
    background: #fbfbfb;
    clear: both;
}

article.resposta .resposta-citacao-title{
    background: #f3f3f3;
    margin: 0px -15px;
    padding: 5px 15px;
    color: #222;
    font-weight: bold;
    font-size: 13px;
    display: block;
}

article.resposta .resposta-citacao-title .resposta-link{
    float: right;
}

article.resposta .resposta-content{
  line-height: 1.6;
  font-size: 15px;
}

article.resposta .resposta-citacao-body{
    padding: 10px 0;
    text-align: justify;
}

article.resposta .resposta-citacao-body p{
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
}

section.responder-section{
    display: flex;
    justify-content: start;
    background-color: #e6e8eb;
    padding: 20px;
}

section.responder-section aside{
    min-width: 80px;
}
section.responder-section aside img{
    margin: 0 auto;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    object-fit: cover;
}

section.responder-section .resposta-content{
    display: block;
    background: rgba(0,0,0,0.1);
    width: 100%;
    min-height: 150px;
    padding: 4px;
    position: relative;
}
section.responder-section .resposta-content:before{
    content: '';
    display: block;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid rgba(0,0,0,0.1); 
    position: absolute;
    top: 10px;
    left: -15px;
}

.resposta-textarea{
    width: 100%;
    height: 100px;
    white-space: pre-wrap;
    border: none;
    resize: none;
    outline: none;
    transition: height 200ms ease;
}

.resposta-textarea:focus{
  height: 200px;
}

.resposta-textarea.active{
  height: 200px;
}

.citacao{
  font-size: 14px;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 5px;
  display: none;
}
.citacao:before{
  content: '- '
}

.btn-responder{
    float: right;
    margin: 5px;
}

.like-container{
  display: inline-block;
  float: right;
  cursor: pointer;
}

.like-container:hover span{
  color: #286090;
}

.like-container span{
  display: inline-block;
  border: 1px solid #eee;
  min-width: 28px;
  height: 22px;
  background-color: #eee;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
  margin: 0;
}

.like-container span:nth-child(1){
  color: #286090;
  background-color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.like-container span:nth-child(2){
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.modal-dialog{
  overflow-y: initial !important;
}

.modal-body{
  max-height: 50vh;
  overflow-y: auto;
}

.modal-likes-body section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.modal-likes-body section aside{
  margin-right: 10px;
}

.modal-likes-body section aside img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.modal-likes-body .content{
  margin: 0;
  padding: 0;
  text-align: left;
}

.modal-likes-body .content h3{
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #286090;
}

.modal-likes-body .content > span{
  color: #8d9aa6;
}

.resposta-form{
  min-height: 200px !important;
  resize: none;
}

/*modal info*/
.modal-info{
  position: absolute;
  top: -500px;
  left: -500px;
  min-height: 200px;
  min-width: 450px;
  padding: 7px;
  z-index: 999;
  background-color: white;
  border: 1px solid #ddd;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal-info.fadein{
  visibility: visible;
  opacity: 1;
}

.modal-info::before,
.modal-info::after{
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: 20px;
  width: 0;
  height: 0;
  border-style: solid;
}

.modal-info:after {
  border-color: transparent transparent white transparent;
  border-width: 15px;
}

.modal-info:before {
  left: 19px;
  border-color: transparent transparent #ddd transparent;
  border-width: 16px;
}

.modal-info-header{
  background-color: #286090;
  width: 100%;
  height: 85px;
  position: relative;
}

.modal-info-header h3, .modal-info-header img{
  position: absolute;
  color: white;
}
.modal-info-header h3{
  left: 96px;
  top: 45px;
  font-size: 18px;
}
.modal-info-header img{
  width: 64px;
  height: 64px;
  border-radius: 37px;
  object-fit: cover;
  top: 42px;
  left: 22px;
}