
.resposta-textarea{
    min-height: 200px !important;
    resize: none;
}

.field-required{
    font-size: 12px;
    color: #c02222;
}

.dataTables_filter{
    display: none;
}

.forum-filter{
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    font-weight: normal;
    padding-left: 5px;
    color: #555;
}

.bg-dark{
    background-color: #4B5F71;
    color: white;
}