.filter-data{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

.filter-data > *{
    margin: 0;
}

.filter-data > label{
    min-width: 80px;
}

.filter-data > *:nth-child(2n){
    margin-right: 10px;
    max-width: 250px;
}

.nosort{
    padding: 10px !important;
}
.nosort::after{
    display: none !important;
}

.dataTables_wrapper .dt-buttons {
    float:none;  
    text-align:center;
  }

  .profile_left{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
  }

  .gateway-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  .gtw-btn{
    width: 100px;
  }
  
  .gateway-ativo{
      text-align: center;
  }

  .totais{
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .totais.no-btn{
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .d-flex{display: flex;}

  .balanco{
    margin: 10px;
    min-width: 450px;
  }

  .balanco.mes{
    background-color: rgb(212, 241, 235);
  }

  .balanco hr{
    border-top: 1px solid rgba(0, 0, 0, .5);
  }

  .balanco.geral{
    background-color: rgb(255, 255, 255);
    margin-right: 0;
  }

  .balanco-box{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .5);
    margin: 10px;
    position: relative;
  }

  .balanco-box::before{
    content: '';
    display: block;
    position: absolute;
    margin: 0;
    padding: 0 2px;
    top: -11px;
    left: 13px;
  }

  .balanco.mes .balanco-box::before{
    content: 'Últimos 30 dias';
    background-color: rgb(212, 241, 235);
  }

  .balanco.geral .balanco-box::before{
    content: 'Balanço geral / Gateways';
    background-color: rgb(255, 255, 255);
  }

  .balanco-box *{
    margin: 0;
    padding: 0;
  }

  .flex-div-space{
    display: flex;
    justify-content: space-between;
  }